{% extends 'base.html.twig' %}
{% block title %} Ajouter un Livre! {% endblock %}
{% block body %}
<h1 class="text-center">Ajouter</h1>
<div class="container" >
{{include('bib/form.html.twig')}}
</div>
{% endblock %}