<form>

  <div class="form-group">
    <label for="exampleInputEmail1">Intitulé du livre</label>
    <input type="test" class="form-control" id="exampleInputEmail1" >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword">Description</label>
    <textarea class="form-control"> </textarea>
  </div>
  

    <button  type="submit" class="btn btn-primary">Ajouter</button>

  </form>