{% extends 'security/login.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<br><br>
   <div class="container">
       <div class="row">
              <div class="col-md-4 col-md-offset-3">
              <br><br><br>
                <div class="form-group">
                     <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                        {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}

                            <a href="/login">Already have an account</a>
                            <button class="btn btn-primary" type="submit" class="btn">Register</button>
               </div>




                    {{ form_end(registrationForm) }}
                       <small>

                    </small>
                    </div>
                     <div class="col-md-8 col-md-offset-3">
                 <img src="/img/home.jpg" alt="Girl in a jacket" width="900" height="600">
             </div>
              </div>
       </div>



{% endblock %}
