<form>

  <div class="form-group">
    <label for="exampleInputName">Nom</label>
    <input type="text" class="form-control" id="exampleInputName"  autocomplete="off" >
  </div>
  
  <button  type="submit" class="btn btn-primary">Ajouter</button>

</form>