<form>

  <div class="form-group">
    <label for="exampleInputName">Titre</label>
    <input type="text" class="form-control" id="exampleInputName"  autocomplete="off" >
  </div>
  <div class="form-group">
    <label for="exampleInputName">Description</label>
    <input type="text" class="form-control" id="exampleInputName"  autocomplete="off" >
  </div>
  <div class="form-group">
    <label for="exampleInputName">Statut</label>
    <input type="text" class="form-control" id="exampleInputName"  autocomplete="off" >
  </div>
  <div class="form-group">
    <label input type="datetime">Date Emprunt</label>
    <input type="datetime" class="form-control" id="datetime"  autocomplete="off" >
  </div>
  <div class="form-group">
    <label input type="datetime">Date Retour</label>
    <input type="datetime" class="form-control" id="datetime"  autocomplete="off" >
  </div>
  
  <button  type="submit" class="btn btn-primary">Ajouter</button>

</form>