{% extends 'base.html.twig' %}
{% block title %} Ajouter un User! {% endblock %}
{% block body %}
<h1 class="text-center">Ajouter</h1>
<div class="form-group" align="center" autocomplete="off">
{{ form(form, { 'attr': {'autocomplete': 'off'} })  }}
{# {{form(form)}} #}
</div>
{% endblock %}